<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to Firebase Hosting</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/draw.css">
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
    <div class="container"><a class="navbar-brand" href="#">Design Idea</a><button class="navbar-toggler"
        data-toggle="collapse" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sign Up</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#">Log In</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-layout">
      <!--Modal content-->
      <div class="modal-content modal-container">
        <div class="container">
          <!-- Card deck -->
          <div class="card-deck row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Card -->
              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">1 Card title</h4>
                  <!--Text-->
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                </div>
              </div>
              <!-- Card -->
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Card -->
              <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">2 Card title</h4>
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                </div>
              </div>
              <!-- Card -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Card -->
              <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">3 Card title</h4>
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                </div>
              </div>
              <!-- Card -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Card -->
              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">4 Card title</h4>
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                </div>
              </div>
              <!-- Card -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Card -->
              <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">5 Card title</h4>
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                </div>
              </div>
              <!-- Card -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Card -->
              <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">6 Card title</h4>
                  <!--Text-->
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                </div>
              </div>
              <!-- Card -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Card -->
              <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">7 Card title</h4>
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>
          <!-- Card deck -->
        </div>
      </div>
    </div>
  </div>

  <div class="container draw">
    <div class="row">
      <div class="col-md-4">
        <div class="row all-select">
          <div class="col-md-6" onclick="handleClickSupport(event)">
            <img class="default reset" src="../asset/img/38335_AB.jpg" alt="">
          </div>
          <div class="col-md-6 " onclick="handleClickSupport(event)">
            <img class="default reset" src="../asset/img/38442_AB.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div onclick="handleClickSupport(event)" class="col-md-6">
            <img class="default reset" src="../asset/img/39202_AB.jpg" alt="">
          </div>
          <div onclick="handleClickSupport(event)" class="col-md-6">
            <img class="default reset" src="../asset/img/40720_AB.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div onclick="handleClickSupport(event)" class="col-md-6">
            <img class="default" src="../asset/img/41484_AB.jpg" alt="">
          </div>
          <div onclick="handleClickSupport(event)" class="col-md-6">
            <img class="default" src="../asset/img/DesignIdea.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <canvas id="canvas" class="draw-canvas"></canvas>
      </div>
    </div>
  </div>
  <img src="" alt="scream">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark toolbar-bottom">
    <ul class="navbar-nav">
      <button class="btn-success" onclick="uploadFile(event)">Click to Continue</button>
      <button class="btn-danger" data-toggle="modal" data-target="#myModal">DONE</button>
    </ul>
  </nav>
<table class="table" style="background: white;border: 1px solid beige;box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.2), 3px 5px 15px 0 rgba(0, 0, 0, 0.19);
">
             <tbody><tr style="background: lightgrey;"><td><b>Chose your file to upload</b></td><td><b></b></td></tr>
            <tr><td><form method="post" enctype="multipart/form-data">
                        <!--<input data-bind="value: title" type="text" id="inputTask" placeholder="Path to the image" style="width: 150px;">-->
			<input id="comment" type="text" name="text" required="">
			<input type="submit" value="Recommend" onclick="fun()"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        </form></td><td><b></b></td></tr>
            
                
                <tr id="row1" style="display:none;"><td><a href=""><button id="clear" style="display:none;">Clear</button></a></td><td></td>
                
            </tr>
        </tbody></table>

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
  <script language="javascript" src="../js/draw.js"></script>
<script type="text/javascript">
	function myFunction(){

	document.getElementById("predictedResult").innerHTML= "";
	$('#clear').hide();
	}
		function fun(){

		$('#load').show();
                
   		$("form").submit(function(evt){	 
		//$('#loader-icon').show(); 
               		 
		evt.preventDefault();
		
                //$('#loader-icon').show();
     		var formData = new FormData($(this)[0]);
		 
   		$.ajax({
      		 url: 'getstarted/imgUpload',
       		type: 'POST',
      		 data: formData,
      		 //async: false,
      		 cache: false,
      		 contentType: false,
      		 enctype: 'multipart/form-data',
      		 processData: false,
		
      		 success: function (response) {
		 $('#load').hide();
		 $('#row1').show();
		  //$('#clear').show();
                  //console.log(response[1]);
        	  //document.getElementById("predictedResult").innerHTML= response; 
                  document.getElementById("img0").src = response.image0;
		 document.getElementById("img1").src = response.image1;
                 document.getElementById("img2").src = response.image2;
                 document.getElementById("img3").src = response.image3;
                  document.getElementById("img4").src = response.image4;
                  document.getElementById("img5").src = response.image5;
                  document.getElementById("img6").src = response.image6;
                  document.getElementById("img7").src = response.image7;
                  document.getElementById("img8").src = response.image8;
                  $('#table').show();
		   $('#clear').show();
                  
 
      		 }
   		});
   return false;
 })};

       
    
    </script>
</body>

</html>