<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Design Idea</title>
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="./static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./staic/listImage.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="#">Design Idea</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white" style="background-image: url(&quot;./1000.jpg&quot;);">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0" style="color: rgb(0,0,0);">Support your idea</h1>
                <h2 class="masthead-subheading mb-0" style="color: rgb(0,0,0);">Make it great</h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="getstarted" style="background-color: rgb(244,75,64);">Get started</a></div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="./01.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"><strong>Outline ideas</strong></h2>
                        <p>Let us know your ideas, what you would like to have in the product</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="./02.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4" style="width: 368px;"><strong>Same samples</strong></h2>
                        <p>We will provide you with similar templates to easily work with designers. From there you get the design as you want</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="./03.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"><strong>Put it on the shelf</strong></h2>
                        <p>Put it on the shelf of "Customer Request". The designer will review your idea and contact you to exchange and finalize the price</p>
                    </div>
                </div>
            </div>
        </div>
    </section><section class="clean-block about-us">
    <div class="container">
        <div class="block-heading" >
            <h2 class="text-info">About Us</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center"><img src="./pluto.png" class="card-img-top w-100 d-block" />
                    <div class="card-body info">
                        <h4 class="card-title">Khánh Pluto</h4>
                        <p class="card-text">Team leader</p>
                        <div class="icons"><a href="https://www.facebook.com/tranvankhanh.41"><i class="fa fa-facebook-square" style="padding-right:10px"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center"><img src="./buddy.jpg" class="card-img-top w-100 d-block" />
                    <div class="card-body info">
                        <h4 class="card-title">Như Trần</h4>
                        <p class="card-text">Team buddy</p>
                        <div class="icons"><a href="https://www.facebook.com/quynhnhu2333"><i class="fa fa-facebook-square" style="padding-right:10px"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center"><img src="./khanh.jpg" class="card-img-top w-100 d-block" />
                    <div class="card-body info">
                        <h4 class="card-title">Đặng Quốc Khánh</h4>
                        <p class="card-text">Full stack developer</p>
                        <div class="icons"><a href="https://www.facebook.com/khanhdangbmt?fref=hovercard&hc_location=chat"><i class="fa fa-facebook-square" style="padding-right:10px"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center"><img src="./map.jpg" class="card-img-top w-100 d-block" />
                    <div class="card-body info">
                        <h4 class="card-title">Nguyễn Văn Huy</h4>
                        <p class="card-text">Diplomat of the team</p>
                        <div class="icons"><a href="https://www.facebook.com/profile.php?id=100008541105713&fref=hovercard&hc_location=chat"><i class="fa fa-facebook-square" style="padding-right:10px"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 col-lg-4">
                <div class="card clean-card text-center"><img src="./huy.jpg" class="card-img-top w-100 d-block" />
                    <div class="card-body info">
                        <h4 class="card-title">Huỳnh Ngọc Huy</h4>
                        <p class="card-text">Student</p>
                        <div class="icons"><a href="https://www.facebook.com/profile.php?id=100008541105713&fref=hovercard&hc_location=chat"><i class="fa fa-facebook-square" style="padding-right:10px"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Design Idea 2018</p>
        </div>
    </footer><script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-storage.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBuI4nOjI_fqEmIw0h9H55QNoWguoNZczU",
    authDomain: "designidea-1bcf5.firebaseapp.com",
    databaseURL: "https://designidea-1bcf5.firebaseio.com",
    projectId: "designidea-1bcf5",
    storageBucket: "designidea-1bcf5.appspot.com",
    messagingSenderId: "527906195433",
    appId: "1:527906195433:web:5207e60cbd1dbab2a2ed78",
    measurementId: "G-KM1H419Q63"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
    var dtb = firebase.database();
    var storageRef = firebase.storage().ref();

</script>
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="51044" data-lastchange="1590039619312" src="./static/js/livereload.js"></script>
</body>

</html>