<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Design Idea</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./listImage.css">
</head>

<body>
    <div class="myListImage"><ul>
  <li>
    <input type="checkbox" id="myCheckbox1" />
    <label class="myListImage" for="myCheckbox1"><img id="img1" src="/pluto.png" /></label>
  </li>
  <li>

    <input type="checkbox" id="myCheckbox2" />
    <label class="myListImage" for="myCheckbox2"><img id="img2" src="/map.jpg" /></label>
  </li>
  <li>

    <input type="checkbox" id="myCheckbox3" />
    <label class="myListImage" for="myCheckbox3"><img id="img3" src="/buddy.jpg" /></label>
  </li>
</ul><div class="canvas__container">
  <canvas id="cnvs" class="canvas__canvas"></canvas>
  <img src="/01.jpg" id="mirror" class="canvas__mirror" onclick="test()"/>
</div></div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/getserver.js"></script>
    <script src="/postserver.js"></script>
    <script src="/testcheck.js"></script>
    <script id="bs-live-reload" data-sseport="52591" data-lastchange="1590042431951" src="/js/livereload.js"></script>
</body>

</html>